@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'GrowingGarden';
        src: url('/fonts/SVN-GrowingGarden-Regular.otf') format('opentype');
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: 'GrowingGarden';
        src: url('/fonts/SVN-GrowingGarden-script.otf') format('opentype');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'LumiosMarker';
        src: url('/fonts/SVN-LumiosMarker.otf') format('opentype');
        /* font-weight: 400; */
        font-display: swap;
    }
    @font-face {
        font-family: 'Tangerine';
        src: url('/fonts/SVN-Tangerine HB.otf') format('opentype');
        /* font-weight: 400; */
        font-display: swap;
    }
}

* {
    font: GrowingGarden, sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
